name: Cypress testing

run-name: CI Run Cypress

on: [push]

jobs:
  Build-Cypress-TestSuite-AfterPush:
    runs-on: windows-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install all dependencies
        run: |
          npm install
          npm list

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          browser: chrome
          command: |
            npm cypress run
